<%= form_with(url: query_project_path, method: 'get', local: true) do %>
    <span class="fas fa-chart-bar me-1"></span>
    <%= label_tag :intent, 'Get Data for Project Study'%>
    <div>
    <%= text_field_tag :intent, nil, class: '.form-blank-input' %>
    <%= button_tag 'Generate' %>
    </div>
<% end %>