<div>
<br>
<br>
    <h1>New Project</h1>
    <div>
        <%= render 'form', project: @project%>
    </div>
    <div>
         <%= link_to 'Back', category_projects_path, class:"back-button" %>
    </div> 

</div>