<div class="user_entry">
<br>
<br>
    <h1 id="category-title">Update Category</h1>
    <br>
    <div class='form-render'>
        <%= render 'form', category: @category %>
    </div>

    <div class="back-container">
  <%= link_to 'Back', root_path, class:"back-button" %>
    </div> 

</div>