<div>
<%= link_to 'Add Category', new_category_path %>
  <table>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
        <td>
            <%= category.intent%>
            <%= category.status%>
            <%= category.due%>
        </td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>