<main>
  <div class="container-fluid px-4">
    <div> 
      <%= link_to 'Add Category', new_category_path %>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
          Categories 
      </div>

      <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
          <div class='dataTable-top'>
            <div class='dataTable-dropdown'>
              <label>
                <select class= 'dataTable-selector'>
                  <option value ='10'>10</option>
                  <option value ='15'>15</option>
                  <option value ='20'>20</option>
                </select>
                'entries per page'
              <label>
            </div>
          </div>
          <div class='dataTable-container'> 
            <table id="datatablesSimple" class="dataTable-table">
              <thead>
                <tr>
                  <th>Intent</th>
                  <th>Status</th>
                  <th>Due</th>
                </tr>
              </thead>

              <tbody>
                <% @categories.each do |category| %>
                <tr>
                  <td><%= link_to category.intent, category_steps_path(category.id)%></td> 
                  <td><%= category.status%></td>
                  <td><%= category.due%> </td>
                </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>
          
      </div>
    </div>
  </div>
</main>

